body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.taskBox {
  background-color: rgb(227, 224, 220);
  border-radius: 6px;
  padding: 10px;
  width: 500px;
}
#todoInput {
  margin-bottom: 10px;
  padding: 8px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 2px;
  border: none;
  display: b;
}
h1 {
  text-align: center;
}
#result {
  text-align: center;
}
#todoList {
  list-style-type: none;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.task span {
  flex-grow: 1;
}

ul li {
  text-align: justify;
  margin-left: 20px;
  background-color: white;
  padding: 5px;
  margin-bottom: 4px;
  border-radius: 4px;
}
li button {
  background-color: #71e971;
  margin-right: 6px;
  border-radius: 4px;
}
.done {
  color: rgb(13, 224, 13);
}

.delete {
  color: white;
  cursor: pointer;
  background-color: red;
}

button {
  color: white;
  background-color: rgb(74, 74, 241);
  border: none;
  padding: 8px;
  border-radius: 4px;
}
