.productDesc {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 20px;
        margin-bottom: 30px;
      }
      .productDesc:hover {
        overflow: visible;
        white-space: normal;
      }